<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.orc//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.IBlogInfoMapper">

	<select id="findAll" resultType="BlogInfo">
		select * from
		bloginfo order by blogid;
	</select>

	<insert id="add" parameterType="BlogInfo">
		insert into bloginfo
		values(0,#{userid},#{editordate},#{title},#{label},#{content},#{pics},#{original},#{type},#{shape},#{state},#{readnum},#{evaluate})
	</insert>

	 <select id="findByBrokeid" parameterType="map" resultType="BlogInfo">
   		select blogid,userid,editordate,title,label,content,pics,original,tf.type,shape,state,readnum,evaluate from bloginfo bf, typeinfo tf where bf.type=tf.type and blogid=#{_parameter}
   </select>
   
   <select id="findByType" parameterType="map" resultType="BlogInfo">
   		select * from bloginfo where userid=#{userid}  limit #{page}, #{rows}
   </select>

	<select id="finds" resultType="map" parameterType="Integer">
		select @row_num := @row_num + 1 as sort,b.*, u.username, t.typename from
		(select @row_number := 0) tmp_row_number, bloginfo b,userinfo u,
		typeinfo t where b.blogid=#{blogid} and b.userid = u.userid and
		b.type=t.type;
	</select>

	

	<select id="getTotalByUserId" resultType="int" parameterType="int">
 		select count(*) from bloginfo where userid = #{_parameter}
 	</select>
 	

	<select id="getAllTotalExceptSelf" resultType="int"
		parameterType="BlogInfo">
		select count(blogid) from bloginfo where userid <![CDATA[ <> ]]>
		#{userid}
	</select>

	<select id="getRand" parameterType="BlogInfo" resultType="BlogInfo">
		select * from bloginfo where userid  <![CDATA[ <> ]]>
		#{userid}
		<if test=" type != 0 ">
			and type = #{type}
		</if>
		ORDER BY rand() LIMIT #{readnum}
	</select>

	<select id="recentUpdata" resultType="BlogInfo" parameterType="BlogInfo">
		select * from bloginfo where userid = #{userid} order by blogid limit
		#{readnum}
	</select>


	<select id="clicRankList" resultType="BlogInfo" parameterType="int">
		select * from bloginfo order by readnum desc limit #{limitNum}
	</select>


	<select id="getSelfBlogTotal" resultType="int" parameterType="BlogInfo">
		select count(blogid) from bloginfo where userid = #{userid}
	</select>

	<update id="addread"  parameterType="int">
  		update bloginfo set readnum = readnum + 1 where blogid = #{_parameter}
 	 </update>


</mapper>